@import "login/login";
@import "NavBar/NavBar";
@import "Divisiones/divisiones";
@import "Años/Cartas_Años";
@import "Historial/Historial";
@import "Divisiones/Seleccion";
@import "Divisiones/CartaSeleccion";
@import "HistorialAlumno/HistorialAlumno";
@import "HistorialAlumno/BotonHistorial";
@import "HistorialAlumno/Table"